<div [class]="selectedCountry==='TRAVELS' ? 'header' : 'header-gallery'">
  <ng-container *ngIf="selectedCountry==='TRAVELS' && loaded">
    <div class="header-quote-container">
      <img src="assets/quote-background.jpg">
      <div class="header-quote">
        <h2 class="quote">See what I see,
          <br>
          this is my journey.
        </h2>
      </div>
      <a *ngIf="isChevron" id="chevron-down" (click)="goToTravel()"><i class="fas fa-chevron-circle-down fa-3x"></i></a>
    </div>
    <!--<div class="footprints">-->
      <!--<img src="../../../assets/footprints-empty.png">-->
    <!--</div>-->
  </ng-container>

  <h2 id="travel" [ngClass]="selectedCountry==='TRAVELS' ? 'title-home' : 'title'"> {{selectedCountry | uppercase}}</h2>
</div>

<div [ngClass]="selectedCountry==='TRAVELS' ? 'grid-main' : 'grid-pic-gallery'">
  <mat-progress-spinner [value]="75" [strokeWidth]="3" [diameter]="50" [mode]="'indeterminate'"
                        *ngIf="!loaded"></mat-progress-spinner>
  <ng-container *ngIf="loaded">
    <div class="column" *ngFor="let i of selectedCountryPics">
      <ng-container *ngIf="selectedCountry!=='TRAVELS'">
        <!--<img [src]="i.url" (click)="openModal('custom-modal-2', i)">-->
        <img [src]="i.image.src" (click)="innerWidth < 1024 ? '' : openModal(i.index)">
      </ng-container>
      <ng-container *ngIf="selectedCountry==='TRAVELS'">
        <img id="img-gallery" class="banner-image" [src]="i.image.src" [routerLink]="['/home', i.name]">
        <div class="centered" *ngIf="i.name" [routerLink]="['/home', i.name]">{{i.name.toUpperCase()}}</div>
      </ng-container>
    </div>
  </ng-container>
</div>

<app-image-modal *ngIf="selectedImage" [innerWidth]="innerWidth" [(visible)]="showDialog" [images]="selectedCountryPics" [currentImage]="selectedImage" [currentIndex]="selectedImageIndex">
</app-image-modal>