<div class="header">
    <h2 class="title"> {{selectedCountry | uppercase}}</h2>
</div>

<div [ngClass]="selectedCountry==='TRAVELS' ? 'grid-main' : 'grid-pic-gallery'">
    <mat-progress-spinner [value]="75" [strokeWidth]="10" [diameter]="50" [mode]="'indeterminate'"
                          *ngIf="!loaded"></mat-progress-spinner>
    <ng-container *ngIf="loaded">
        <div class="column" *ngFor="let i of selectedCountryPics">
            <ng-container *ngIf="selectedCountry!=='TRAVELS'">
                <!--<img [src]="i.url" (click)="openModal('custom-modal-2', i)">-->
                <img [src]="i.url">
            </ng-container>
            <ng-container *ngIf="selectedCountry==='TRAVELS'">
                <img class="banner-image" [src]="i.url" [routerLink]="['/home', i.name]">
                <div class="centered" *ngIf="i.name" [routerLink]="['/home', i.name]">{{i.name.toUpperCase()}}</div>
            </ng-container>
        </div>
    </ng-container>
</div>

<!--<ng-template #imageModal let-modal>-->
<!--<div class="modal-body">-->
<!--<div class="image-container-modal">-->
<!--<img [src]="imageModalUrl">-->
<!--</div>-->
<!--</div>-->
<!--</ng-template>-->

<!--<modal id="custom-modal-2">-->
<!--<div class="modal">-->
<!--<div class="modal-body">-->
<!--<h1 style="height:1000px">A Tall Custom Modal!</h1>-->
<!--<button (click)="closeModal('custom-modal-2');">Close</button>-->
<!--</div>-->
<!--</div>-->
<!--<div class="modal-background"></div>-->
<!--</modal>-->
