mat-progress-spinner, .loader-text {
  display: inline-block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;

  &::ng-deep circle {
    stroke: #fff;
  }
}

.loader-text {
  color: #fff;
  text-align: center;
  top: 55px;
}

.header {
  margin-top: -100px;
  padding-bottom: 190px;
}

.header-gallery {
  padding-bottom: 85px;
  padding-top: 140px;
}

.title-home {
  padding-top: 190px;
}

.header-quote-container {
  //margin-top: 10%;
  text-align: center;
  position: relative;

  .fa-chevron-circle-down {
    color: #fff;
    margin-top: 40px;
    cursor: pointer;
    position: absolute;
    bottom: 23%;
    left: 50%;
    transform: translate(-50%, -50%);

    &:hover {
      opacity: 0.7;
    }
  }

  img {
    width: 100%;
  }
}

.header-quote {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title, .title-home, .quote {
  text-align: center;
  color: #fff;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 100;
  letter-spacing: 10px;
  font-size: 42px;
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

.grid-main, .grid-pic-gallery {
  display: grid;
  grid-template-rows: auto;
  position: relative;
}

.grid-main {
  grid-template-columns: repeat(1, 1fr);
  grid-row-gap: 10px;
  margin: 0 50px 250px;
  //grid-auto-flow: row dense;
}

.grid-pic-gallery {
  padding-top: 20px;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
  margin-right: 30px;
  margin-left: 30px;
  margin-bottom: 250px;
}

.column {
  position: relative;
  text-align: center;
  color: #fff;
  font-size: 50px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 100;
  letter-spacing: 5px;

  img {
    width: 100%;

    &.banner-image {
      cursor: pointer;

    }

    &.banner-image:hover {
      opacity: 0.5;
    }
  }
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  line-height: 0.9;

  &:after {
    border-bottom: 1px solid #fff;
    content: ""; /* This is necessary for the pseudo element to work. */
    display: block; /* This will put the pseudo element on its own line. */
    margin: 0 auto; /* This will center the border. */
    width: 70%; /* Change this to whatever width you want. */
  }

  &:hover {
    opacity: 0.8;
  }
}

.image-description {
  margin-top: 1rem;
  font-size: 22px;
  margin-bottom: 2rem;
}

.placeholder {
  background-color: #f6f6f6;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}

.placeholder img {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  //width: 100%;
  transition: opacity 1s linear;
}

.background-img-small {
  filter: blur(50px);
  /* this is needed so Safari keeps sharp edges */
  transform: scale(1);
}

.background-hidden {
  display: none;
}

@media screen and (max-width: 768px) {
  .grid-main {
    margin: 0 0 100px;
    grid-row-gap: 15px;
  }

  .header {
    margin-top: 0;
    padding-bottom: 60px;
  }

  .header-quote {
    top: 44%;
  }
  .grid-pic-gallery {
    padding-top: 10px;
    grid-template-columns: 1fr;
    grid-gap: 15px;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 100px;
  }

  .header-gallery {
    padding-bottom: 65px;
    padding-top: 65px;
  }

  .image-description {
    margin-top: 0.5rem;
    font-size: 16px;
    margin-bottom: 2rem;
  }

  .title, .title-home, .quote {
    letter-spacing: 0;
    font-size: 20px;
  }

  .title-home {
    font-size: 34px;
  }

  .column {
    font-size: 35px;

    img {
      width: 100%;

      &.banner-image:hover {
        opacity: 1;
      }
    }
  }

}

@media screen and (max-width: 425px) {
  .title-home {
    padding-top: 100px;
    letter-spacing: 0;
    font-size: 25px;
  }
  .column {
    font-size: 16px;
  }
}

@media screen and (max-width: 768px) {
  .column {
    font-size: 22px;
  }
  i.fas.fa-chevron-circle-down.fa-3x {
    font-size: 2rem;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1400px) {
  .column {
    font-size: 38px;
  }
  .header-quote {
    top: 50%;
  }
  .header-quote-container .fa-chevron-circle-down {
    bottom: 32%
  }
  .quote {
    font-size: 28px;
  }
}
