// redundant to be replaced in the future
.header {
  padding-bottom: 85px;
  padding-top: 140px;
}

.header .title {
  text-align: center;
  color: #fff;
  font-family:  'Josefin Sans', sans-serif;
  font-weight: 100;
  letter-spacing: 5px;
  font-size: 42px;
}

.contact-form-container {
  color: #fff;
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 200px;
  .form-field {
    margin-bottom: 30px;
  }
  .form-control-name, .form-control-email {
    width: 50%;
    padding: 12px 20px;
  }
  .form-control-message {
    height: 200px;
  }
}

.alert {
  width: 50%;
}


