<div class="header">
  <h2 class="title"> About me</h2>
</div>

<div class="about-grid">
  <div>
    <p class="about-me-intro">
      Has it ever happened to you, to have your mind full of mixed, confusing, and blurred thoughts? By writing you
      can
      untie those knots, that otherwise would still be there. Writing is a way to speak to your inner self, your
      true
      self, facing those problems that we hide in our everyday life. Once you see your thoughts black on white,
      everything
      else stops and your mind clears up and gets back into place.
    </p>
  </div>
  <div>
    <p class="about-me-quote">
      "Sometimes I like to lick my private parts like a cat" - Marcello Munari
    </p>
    <p class="about-me-quote">
      We should remind ourselves these words more
      often: <br>
      “ Keep your thoughts positive, because your thoughts become your words.
      Keep your words positive, because your words become your behavior.
      Keep your behavior positive, because your behaviors become your habits.
      Keep your habits positive, because your habits become your values.
      Keep your values positive, because your values become your destiny. ”
      - Gandhi
    </p>
  </div>
</div>
