<div class="header">
  <h2 class="title"> About me</h2>
</div>

<div class="wrap">
  <div class="col1">
    <img class="img" src="assets/photo-marcello.png" alt="Centred Image">
    <div class="inner">
      <p class="col1-paragraph"> My name is Marcello Munari, I live in Turin, Italy and I’m a travel photographer. Thanks to my passion for
        writing and adventurous journeys, I describe through words and images what I see, but most important what I
        feel. The later it gets, the more I realize there is too much to see on this planet to sit on my butt
        and not go out there and explore every corner! (although the Earth is round) Ever since I started
        traveling, I saw its power, I tasted that sensation of freedom, that feeling that pushes you to <strong>
          discover more </strong>, to <strong>see more </strong> and to <strong>learn more</strong>. This allowed me
        to grow and to expand my boundaries. I want to use photography and my stories as a means of communication,
        to ensure that people see right through my eyes and be inspired.</p>
    </div>
  </div>
  <div class="col2">
    <div class="inner">
      <p class="col2-paragraph">
        We should remind ourselves these words more often:
        <br>
        “Keep your thoughts positive, because your thoughts become your words.
        <br>
        Keep your words positive, because your words become your behavior.
        <br>
        Keep your behavior positive, because your behaviors become your habits.
        <br>
        Keep your habits positive, because your habits become your values.
        <br>
        Keep your values positive, because your values become your destiny.”
        <br>
        - Gandhi
      </p>
    </div>
  </div>
</div>