body {
  background: #1f1f1f;
}

.nav-colored {
  background-color: rgba(255, 245, 255, 0.2);
}

.nav-transparent {
  background-color: rgba(255, 245, 255, 0);
}

.nav-large {
  font-size: 16px;
  .navbar-nav .nav-link {
    margin-right: 40px;
    margin-left: 40px;
  }
  .logo-image {
    width: 500px;
  }
  .navbar-brand {
    margin-bottom: 30px;
    margin-top: 10px;
  }
}

.nav-link-small {
  height: 90px;
  font-size: 10px;
  .navbar-nav .nav-item.nav-link {
    margin-right: 2px;
    margin-left: 2px;
  }
  .logo-image {
    width: 230px;
  }
  .navbar-brand {
    margin-bottom: 5px;
  }
}

.container {
  max-width: 100%;
  padding: 0;
  margin-top: 100px;
}

.navbar {
  display: block;
  text-align: center;
}

.navbar-nav .nav-link {
  color: #fff;
  &:hover {
    opacity: 0.8;
  }
}

a, img {
  transition: .3s all;
  -moz-transition: .3s all;
  -webkit-transition: .3s all;
  -o-transition: .3s all;
}

//
//// Modal
///* MODAL STYLES
//-------------------------------*/
//modal {
//  /* modals are hidden by default */
//  display: none;
//
//  .modal {
//    /* modal container fixed across whole screen */
//    position: fixed;
//    top: 0;
//    right: 0;
//    bottom: 0;
//    left: 0;
//
//    /* z-index must be higher than .modal-background */
//    z-index: 1000;
//
//    /* enables scrolling for tall modals */
//    overflow: auto;
//
//    .modal-body {
//      padding: 20px;
//      background: #fff;
//
//      /* margin exposes part of the modal background */
//      margin: 40px;
//    }
//  }
//
//  .modal-background {
//    /* modal background fixed across whole screen */
//    position: fixed;
//    top: 0;
//    right: 0;
//    bottom: 0;
//    left: 0;
//
//    /* semi-transparent black  */
//    background-color: #000;
//    opacity: 0.75;
//
//    /* z-index must be below .modal and above everything else  */
//    z-index: 900;
//  }
//}
//
//body.modal-open {
//  /* body overflow is hidden to hide main scrollbar when modal window is open */
//  overflow: hidden;
//}
