@import "../variables.scss";

body {
  background: #1f1f1f;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 999;
}

.nav-large {
  background-color: rgba(255, 255, 255, 0);
  font-size: 20px;

  .navbar-nav .nav-link {
    margin-right: 40px;
    margin-left: 40px;
  }

  .logo-image {
    width: 450px;
  }

  .navbar-brand {
    margin-bottom: 30px;
    margin-top: 10px;
  }

  .nav-subtitle {
    font-size: 18px;
  }
}

.nav-link-small {
  background-color: $primary-color;
  height: 100px;
  font-size: 10px;

  .navbar-nav .nav-item.nav-link {
    margin-right: 2px;
    margin-left: 2px;
  }

  .logo-image {
    width: 230px;
  }

  .navbar-brand {
    margin-bottom: 5px;
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 0;
  }

  .nav-subtitle {
    font-size: 10px;
    margin-bottom: 0;
  }
}

.container {
  max-width: 100%;
  padding: 0;
  margin-top: 100px;
}

.navbar {
  display: block;
  text-align: center;
}

.navbar-nav .nav-link {
  color: #fff;

  &:hover {
    opacity: 0.8;
  }
}

a, img {
  transition: .3s all;
  -moz-transition: .3s all;
  -webkit-transition: .3s all;
  -o-transition: .3s all;
}

@media screen and (max-width: 768px) {
  .navbar {
    justify-content: space-between;
    text-align: center;
    display: flex;
  }


  .navbar-collapse {
    text-align: center;
  }

  .nav-large {
    background-color: #1f1f1f;

    .navbar-brand {
      margin-top: 10px;
      width: 80%;
      margin-right: 0;
    }
    .logo-image {
      width: 85%;
    }
    .nav-subtitle {
      font-size: 14px;
    }
  }
}

@media screen and (max-width: 1200px) {
  .nav-large .navbar-brand {
    margin-bottom: 0;
  }
  .nav-large {
    font-size: 18px;
    .navbar-nav .nav-link {
      margin-right: 15px;
      margin-left: 15px;
    }
  }
}

@media screen and (min-width: 1390px) {

}

@media screen and (min-width: 1450px) {

}

@media screen and (min-width: 1490px) {
}

@media screen and (min-width: 1550px) {

}

@media screen and (min-width: 1600px) {
}

