<footer layout="row">

  <div class="footer">
    <div class="footer-text">{{'Follow me on social media' | uppercase}}</div>
    <div class="footer-logos">
      <div class="logos">
        <a href="https://www.instagram.com/marcellomunari/" target="_blank" rel="noreferrer">
          <i class="fab fa-instagram fa-2x"></i>
        </a>
        <a href="https://www.facebook.com/marcellomunariphotography/" target="_blank" rel="noreferrer">
          <i class="fab fa-facebook-f fa-2x"></i>
        </a>
        <a href="https://www.youtube.com/channel/UCxrVxmx-l3ZiXgv0O2M1mow/featured" target="_blank" rel="noreferrer">
          <i class="fab fa-youtube fa-2x"></i>
        </a>
      </div>
    </div>

    <div class="footer-credits">
      <p>&copy; All rights reserved for Marcello Munari 2018-{{year}}</p>
    </div>
  </div>
</footer>
