@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "variables.scss";

.bg-main {
  background: #1f1f1f;
  font-family: $primary-font;
  font-weight: $font-weight-thin;
}

body.modal-open {
  //overflow: hidden;
}

body.modal-open .navbar {
  //overflow: hidden;
  display: none;
}





