@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "variables.scss";

.bg-main {
  background: #1f1f1f;
  font-family: $primary-font;
  font-weight: $font-weight-thin;
}

.nav-colored {
  background-color: rgba(255, 245, 255, 0.2);
}

.nav-transparent {
  background-color: rgba(255, 245, 255, 0);
}

.nav-link-large {
  font-size: 16px;
}

.nav-link-small {
  height: 60px;
  font-size: 12px;
}